.Portfolio { transition: all .3s linear; }

@media (prefers-color-scheme: dark) {
    .Portfolio {
        background-color: var(--dark-color);
        color: var(--light-color);
    }
}

@media (prefers-color-scheme: light) {
    .Portfolio {
        background-color: var(--light-color);
        color: var(--dark-color);
    }
}

.Light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.Light ::selection {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.Dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.Dark ::selection {
    background-color: var(--light-color);
    color: var(--dark-color);
}