.Portfolio { transition: all .3s linear; }

@media (prefers-color-scheme: dark) {
    .Portfolio {
        background-color: #1f1f1f;
        color: #fdfdfd;
    }
}

@media (prefers-color-scheme: light) {
    .Portfolio {
        background-color: #fdfdfd;
        color: #1f1f1f;
    }
}

.Light {
    background-color: #fdfdfd;
    color: #1f1f1f;
}

.Light ::selection {
    background-color: #1f1f1f;
    color: #fdfdfd;
}

.Dark {
    background-color: #1f1f1f;
    color: #fdfdfd;
}

.Dark ::selection {
    background-color: #fdfdfd;
    color: #1f1f1f;
}