.Hero {
    font-size: 40px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 100px;
}

@media (min-width: 576px) {
    .Hero { font-size: 50px; }
}

@media (min-width: 768px) {
    .Hero { font-size: 70px; }
}