.Contact h2 {
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}

.Social { height: 100%; }

@media (min-width: 576px) {
    .Contact h2 { font-size: 24px; }
    .Social {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .Social .DownloadResume { margin-right: 50px; }

    .Social .SingleSocial:not(:last-child) { margin-right: 40px; }
}

@media (min-width: 768px) {
    .Contact h2 { font-size: 30px; }
}

@media (min-width: 992px) {
    .Social { justify-content: flex-end; }
}