.Link {
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

.Link:hover {
    text-decoration: underline;
    color: #9f9f9f;
}

.Link:focus {
    text-decoration: underline;
    color: #9f9f9f;
    outline: none;
}